<div class="p-5 bg-light position-relative">
  <div id="footerContainer">
    <!-- <div class="container"> -->
    <div class="row">
      <div class="footer w-100">
        <div class="text-center">
          &copy; Copyright Boardroom Pty Limited | ABN
          14&nbsp;003&nbsp;209&nbsp;836 &nbsp;|&nbsp;
          <a href="#terms-and-condition" data-toggle="modal">Terms of Use</a>
          &nbsp;|&nbsp;
          <a href="#privacy-policy" data-toggle="modal">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
