@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    circle at top left,
    rgba(138, 190, 230, 0.8),
    rgba(23, 59, 108, 0.8)
  );
  background-repeat: no-repeat;
}

.logo-img {
  background-image: url("../branding/wam/logo.png");
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  padding: 55px;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: 300;
}

.corner-top-right {
  position: fixed;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    rgba(88, 93, 101, 0.2726),
    rgba(55, 62, 80, 0.5762)
  );
  color: #fff;
  border-bottom-left-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

@media (max-width: 800px) {
  .corner-top-right {
    display: none;
  }
}

footer {
  text-align: center;
  padding-top: 1rem;
}
