@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: transparent;
  background-image: linear-gradient(
      rgba(88, 93, 101, 0.2726),
      rgba(55, 62, 80, 0.5762)
    ),
    url("../branding/boardroom/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo-img {
  background-image: url("../branding/boardroom/logo.png");
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 20px;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-weight: 300;
}

.corner-top-right {
  position: fixed;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    rgba(88, 93, 101, 0.2726),
    rgba(55, 62, 80, 0.5762)
  );
  color: #fff;
  border-bottom-left-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
}

@media (max-width: 800px) {
  .corner-top-right {
    display: none;
  }
}

footer {
  text-align: center;
  padding-top: 1rem;
}
